.bg{
	background-color: #84b36e(255, 255, 255);
}


.title{
	color: rgb(0, 0, 0);
	font-family: cambria;
	font-size: 1.6em;
	font-weight: bold;

}
.text{
	padding: 12px;
	background-color: rgb(228, 228, 228);
	color: rgb(0, 0, 0);
	width: 90%;
	border-radius: 10px;
	font-weight: bold;
}
.tr{
	color: tomato;
}



.btn{
	color: black;
	background-color: #84b36e;
	border:0px;
	box-shadow: 1px 3px 5px 2px;
	width: 50%;
	height: 35px;
	font-size: 1.3em;
}
.ar{
	padding: 12px;
	background-color: black;
	color: white;
}
